<div class="login-page">
<md-card class="login-card">
   <md-toolbar color="accent">Login Here</md-toolbar>
   <md-card-content >
      <form>
         <table class="full-width" cellspacing="0" >
            <tr >
               <td>
                  <md-input placeholder="Username/Email" class="full-width"></md-input>
               </td>
            </tr>
            <tr>
               <td>
                  <md-input type="password" placeholder="Password" class="full-width" ></md-input>
               </td>
            </tr>
            <tr>
               <td>
                  <button md-raised-button color="accent">Sign in</button>
               </td>
            </tr>
         </table>
      </form>
   </md-card-content>
</md-card>
</div>
